@(message: String)(test: String)

<!DOCTYPE html>
<html>
<body>
<p>@message</p>
<p>@test</p>
<form action="" method="POST">
	First name: <input type="text" name="firstName" value=""><br>
	Last name:	<input type="text" name="lastName" value=""><br>
	Email: 	<input type="text" name="email" value=""><br>	
	Username: 	<input type="text" name="username" value=""><br>
	Password 	<input type="password" name="password" value=""><br>
	University 	<select name="university">
					<option value="UIUC">University Of Illinois</option>
					<option value="NO">Dont Pick THIS</option>
				</select>
	<br>
	Greek		<select name="greek">
					<option value="CS411">CS 411 Fraternity</option>
					<option value="NOPE">Dont pick this either</option>
				</select>
	<br>

	<input type="submit" value="Register">
</form>

</body>
</html>
